<!DOCTYPE html>
<html>
<head>
    <title>Secure Attendance</title>
    <link rel="stylesheet" href="/static/css/responsive.css">

    <style>
        body {
            font-family: Arial;
            text-align: center;
            margin-top: 80px;
        }
        button {
            padding: 12px 25px;
            margin: 10px;
            font-size: 16px;
            cursor: pointer;
        }
    </style>
</head>
<body>

    <h2>Secure Face Attendance System</h2>

    <a href="/secure_in">
        <button>Mark IN</button>
    </a>

    <a href="/secure_out">
        <button>Mark OUT</button>
    </a>

    <br><br>

    <a href="/register">
        <button>Register Student</button>
    </a>

</body>
</html>
